$border_col: rgb(211, 214, 218);
$D_border_col: rgb(58,58,60);
@use './Firework.css';

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}
header {
	margin: 0 auto;
	position: relative;
	padding-bottom:2;
	width: 50vw;
	min-width: 50vw;
	border-bottom: 1px solid $border_col;
	margin-bottom: 12px;
}
.cHeadIcon {
	position: absolute;
	font-size: 22px;
	vertical-align: middle;
	top: .5rem;
	cursor: pointer;
	pointer-events: auto;
	color: #aaa;

	&#idHelp {
		left: 12px;
	}
	&#idStat {
		right: 52px;
	}
	&#idConfig {
		right: 12px;
	}
	&:hover {
		opacity: .84;
	}
}
#idGameTitle {
	font-family: 'Tangerine', cursive, Avenir, Helvetica, Arial, sans-serif;
	font-size:2.9rem;
	margin: 0;

	.cMode {
		display: none;
		position:absolute;top:5px;
		left: calc(50% - 14px);font-size:10px;
		font-family:serif, sans-serif;
		color:#aaa;
		background: -webkit-linear-gradient(315deg,#999 25%,#fff);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		&[mode="your"] {
			left: calc(50% - 5px);
		}
	}
/*
	background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
}

#idFrame div {
	font-size: 32px;
}

@media screen and (max-width: 600px) {
	header {
		min-width: 90vw;
	}
	#idFrame div {
		font-size: 7vw;
	}
}
@media screen and (max-width: 400px) {
	#idGameTitle {
		font-size: 40px;
	}
}


.cLetsEnter {
	background-color: #ffe0e6!important;
}
.cShake {
	animation: shakeH 0.5s;
	animation-iteration-count: 1;
}
.cRotateX {
	animation: rotateX .4s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	/*backface-visibility: hidden;*/
}

.cSolved {
	animation: solved 0.5s;
	animation-iteration-count: 1;
}

.cPopIn {
	animation: cPopIn 100ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	border: 2px solid rgb(135, 138, 140);
	/*backface-visibility: hidden;*/
}

@keyframes cPopIn {
	0% { transform: scale(80%); opacity: .8; }
	40% { transform: scale(110%); opacity: 1; }
	100% { transform: scale(100%); }
}

@keyframes solved {
	0% { transform: translateY(0px); }
	50% { transform: translateY(-40px); }
	75% { transform: translateY(14px); }
	100% { transform: translateY(0px); }
}


@keyframes rotateX {
	0% { transform: rotateX(0deg); }
	50% { transform: rotateX(90deg); }
	100% { transform: rotateX(0deg); }
}

@keyframes shakeH {
	$sv: 4px;
	0% { transform: translateX(0px); }
	5% { transform: translateX($sv); }
	10% { transform: translateX(0px); }
	15% { transform: translateX(-$sv); }
	20% { transform: translateX(0px); }
	25% { transform: translateX($sv); }
	30% { transform: translateX(0px); }
	35% { transform: translateX(-$sv); }
	40% { transform: translateX(0px); }
	45% { transform: translateX($sv); }
	50% { transform: translateX(0px); }
	55% { transform: translateX($sv); }
	60% { transform: translateX(0px); }
	65% { transform: translateX(-$sv); }
	70% { transform: translateX(0px); }
	75% { transform: translateX($sv); }
	80% { transform: translateX(0px); }
	85% { transform: translateX(-$sv); }
	90% { transform: translateX(0px); }
	95% { transform: translateX($sv); }
	100% { transform: translateX(0px); }
}

@keyframes shakeR {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#idFrame {
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	width: 95vw;
	margin: 0 auto;
	/*border: 1px solid #888;*/
	
	div {
		text-transform: uppercase;
		text-align: center;
		border: 2px solid $border_col;
		box-sizing: border-box;
		vertical-align: middle;
		margin: 2px;
		padding: 4px;
		min-width: 1.8em;
		min-height: 1.8em;
		max-width: 50px;
		max-height: 50px;
		width: calc(100vw / 5 - 14px);
		height: calc(100vw / 5 - 14px);
		font-weight: 700;
		justify-content: center;
		align-items: center;
		display: inline-flex;
	}

	.correct {
		color: #fff!important;
		background-color: rgb(106,170,100)!important;
		border: 2px solid rgb(106,170,100)!important;
	}
	.present {
		color: #fff!important;
		background-color: rgb(201, 180, 88)!important;
		border: 2px solid rgb(201, 180, 88)!important;
	}
	.absent {
		color: #fff!important;
		background-color: #787C7E!important;
		border: 2px solid #787C7E!important;
	}

	.reedit {
		color: rgb(136, 136, 136)!important;
		border-bottom-style: dashed;
	}
}

#nav {
	padding: 30px;

	a {
		font-weight: bold;
		color: #2c3e50;

		&.router-link-exact-active {
		color: #42b983;
		}
	}
}

#idStatPlotContainer {
	text-align: left;
	margin: 2px auto 20px auto;
	vertical-align: middle;
	.cGraph {
		background-color: transparent;
		width: 24px;
		height: 18px;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		font-size: 12px;
		color: #fff;
		padding-top:2px;

		&.fill {
			background-color: #4169e1;
		}
		&.null {
			background-color: #c9c9c9;
		}
	}
	.cGraphLine {
		margin: 2px;

		span {
			border-radius: 50%;
			background-color: #ff856f;
			font-size: .8em;
			color: #fff;
			display: inline-block;
			min-width: 20px;
			text-align: center;
			padding: 4px;
			margin-right: 4px;
		}
	}
}


/* Dark Mode */
@mixin darkMixin(
	$bodyCol: #fff, $bodyBG: #000, $gameTitleCol: rgb(215, 218, 220), 
	$divCol: #D7DADC, $divBG: #121213, 
	$divBorderCol: $D_border_col, 
	$headerBorderCol: $D_border_col,
	$keyboardActive: #ffffffc0
){
	body {
		color: $bodyCol; 
		background: $bodyBG;
	}
	#idGameTitle {
		color: $gameTitleCol;
	}
	#idFrame {
		color: $bodyCol;
		div {
			color: $divCol;
			background: $divBG;
			border-color: $divBorderCol;
		}
	}
	header {
		border-bottom-color: $headerBorderCol;
	}
	#keyboard button {
		&.active, &:active {
			background-color: $keyboardActive;
		}
	}
}
/*
@media (prefers-color-scheme: dark) {
	@include darkMixin;
}*/

.darkMode {
	@include darkMixin;
}
.lightMode {
	@include darkMixin( #000, #fff, #1A1A1B, #1A1A1B, transparent, $border_col, $border_col, rgba(0,0,0,.5) );

	.p-confirm-dialog {
		.p-dialog-content, .p-dialog-header, .p-dialog-footer {

			.p-confirm-dialog-reject {
				color: #ffffff9c;
			}
			.p-confirm-dialog-accept {
				box-shadow: none!important;
				background-color: rgb(0 90 255 / 30%)!important;
				border-color: #dae6ff70;
			}
		}
	}
}

#idNextTime {
	font-variant-numeric: tabular-nums;
	font-size: 3em;
	min-width:210px;
}

.cWordComb {
	display: inline-block;
	font-size: 13px;
	margin: 3px 1px;
	background-color:#ff699a;
	color: #fff;
	padding: 2px 8px;
	border-radius: 8px;
}
.cRandomComb {
	background-color: #6969ff;
}

#idSvenContainer {
	display: none;
	user-select: none;
	box-sizing: content-box;
	/*pointer-events: none;*/
	max-width: 400px;
	width: 90vw;
	height: 250px;
	/*background-color: #eee;
	border: 1px solid #4169e1;*/
	margin: 0;
	padding: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -70%);

	#idSvenMSG {
		font-weight: bold;
		text-shadow: -2px -2px 4px #002, 2px 2px 4px #009, 0px 0px 0 rgb(137,156,213),1px 1px 0 rgb(129,148,205),2px 2px 0 rgb(120,139,196),3px 3px 0 rgb(111,130,187),4px 4px 0 rgb(103,122,179),5px 5px 0 rgb(94,113,170),6px 6px 0 rgb(85,104,161),7px 7px 0 rgb(76,95,152),8px 8px 0 rgb(68,87,144),9px 9px 0 rgb(59,78,135),10px 10px 0 rgb(50,69,126),11px 11px 0 rgb(42,61,118),12px 12px 0 rgb(33,52,109),13px 13px 0 rgb(24,43,100),14px 14px 0 rgb(15,34,91),15px 15px 0 rgb(7,26,83),16px 16px 0 rgb(-2,17,74),17px 17px 0 rgb(-11,8,65),18px 18px 0 rgb(-19,0,57),19px 19px 0 rgb(-28,-9,48), 20px 20px 0 rgb(-37,-18,39),21px 21px 20px rgba(0,0,0,1),21px 21px 1px rgba(0,0,0,0.5),0px 0px 20px rgba(0,0,0,.2);
		display: none;
		color: #fff;
		font-size: 20px;
		position: absolute;
		top: 2%;
		left: 50%;
		transform: translate(-50%);
		.font {
			font-weight: normal;
			font-size: 22px;
			font-family: 'Tangerine', cursive, Avenir, Helvetica, Arial, sans-serif;
		}
	}
}

@media screen and (max-width: 560px) {
	.cMode {
		left: calc(50% - 11px)!important;
		font-size:8px!important;

		&[mode="your"] {
			left: calc(50% - 3px)!important;
		}
	}
	.p-confirm-dialog-message {
		font-size: 12px;
	}
	.cWordComb {
		font-size: 13px;
	}
}

@media screen and (max-width: 400px) {
	#idNextTime {
		font-size: 1.45em!important;
		min-width:120px!important;
	}
	.cGraph {
		width: 20px!important;
	}
}

@media screen and (max-width: 300px) {
	#idNextTime {
		font-size: 1.15em!important;
		min-width:110px!important;
	}
}